<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript">
          $(document).ready(function() {
          $('li.active').removeClass('active');
          $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
        });
        </script>
    </head>
    <body>
      <% if logged_in? %>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="/dashboard"><img src="/assets/redox_logo.png"style=" width: 35px; height:33px; display: inline-block; ">
                      <span style="display: inline-block;">Redox Realty Group</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/dashboard">Dashboard</a></li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <% if current_user.isadmin? %>
                            <li><%= link_to "Add New User", users_path%></li>
                          <% end %>
                          <li><%= link_to "Profile", profile_path%></li>
                          <li><%= link_to "Log out", logout_path, method: :delete %></li>
                          <li><a href="#">Page 1-3</a></li>
                        </ul>
                      </li>
                  </ul>
                </div>
            </div>
        </nav>
        <% else %>
          redirect_to "/login", alert:"You are not authorized"
        <% end %>
  </body>
</html>