<!DOCTYPE html>
    <html lang="en">
        <head>
        </head>
        <body>
            <% if logged_in? %>
                <%= render 'navbarAgentPages' %>
                <br>
                <br>
                <div class="container">
    		        <h3>Agents Dashboard Page</h3>
    		        <!--<p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).
    		        <p>Only when the button is clicked, the navigation bar will be displayed.</p>-->
          		</div>
            <% else %>
                <script type="text/javascript">
                    alert('You are not authorized to this page');
                    window.location = '/login';
                </script>
            <% end %>
		</body>
</html>