<!DOCTYPE html>
    <html lang="en">
        <head>
            <style type="text/css">
                .header {
                    padding: 15%;
                    text-align: center;
                    background-image: url("assets/aboutus_header.png");
                    background-size: cover;
                    color: white;
                    font-size: 30px;
                }
                .box_about{
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    min-width: 500px;
                    max-width: 650px;
                    display: block;
                    padding: 3%;
                    border: 2px solid #dcdee2;
                    background-color: #dcdee2;
                }
                .box_mission{
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    min-width: 500px;
                    max-width: 650px;
                    padding: 3%;
                    border: 2px solid #dcdee2;
                    background-color: #dcdee2;
                }
                .box_people{
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    min-width: 500px;
                    max-width: 650px;
                    padding: 3%;
                    border: 2px solid #dcdee2;
                    background-color: #dcdee2;
                    padding-left: 50px;
                }
                * {
                    box-sizing: border-box;

                }
                .col-25 {
                    float: left;
                    width: 33%;
                    margin-top: 6px;
                }
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                
                /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                @media screen and (max-width: 600px) {
                    
                    .box_about, .box_mission, .box_people, .col-25{
                        width: 100%;
                        margin-top: 0;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }
                }
                
            </style>
        </head>
        <body>
            <%= render 'navbarStaticPages' %>
            <div class="header">
                <h1>About Us</h1>
            </div>
            
            <div class="container">
                <div class="pageContentWrapper">
                    <br><br>
                    <div class="box_about">
                        <h4 style="text-align: center"> Our Mission </h4>
                        <hr><br>
                        Redox Realty Group is a New York based brokerage firm that walks buyers and sellers through the process of offering a home. Our corporate goal is to help motivated individuals reach their financial objectives. As a cooperative team of brokers, we guide and train you to close your deals effectively. Drawing from over 20 years of experience in the residential market, our head broker is accessible 24/7 for resource questions- atevery step of the transaction. We show you just how to build & keep your client base. 
                    </div>
                    <br><br>
                    <div class="box_mission">
                        <h4 style="text-align: center">Why Choose Us?</h4>
                        <hr><br>
                       <center> <i class="fa fa-money" aria-hidden="true" style="font-size:20px"></i>   100% commission &emsp;&emsp;
                        <span class="glyphicon glyphicon-education" style="font-size:20px"></span>  Training and Leads &emsp;&emsp;
                        <i class="fas fa-ad" aria-hidden="true" style="font-size:20px"></i>   Paid Advertising &emsp;&emsp;
                        <br><br>
                        <img src="/assets/working_env.png">  Great work environment &emsp;
                        <img src="/assets/insurance.png">  E&O insurance &emsp;
                        <img src="/assets/rebate.png" height="20px" width="20px"> Home-buyer rebate programs &emsp;
                        <br><br>
                        <img src="/assets/innovation.png">  Branding & Technology &emsp;</center>
                    </div>
                    <br><br>
                    <div class="box_people">
                        <h4 style="text-align: center">Meet the Team</h4>
                        <hr>
                        <div class="row">
                            <div class="col-25">
                                <img src="/assets/person1.png" height="180px" width="180px">
                                <center>
                                    <h4>Mike Ross</h4>
                                    <p>CEO & Founder</p>
                                </center>
                            </div>
                            <div class="col-25">
                                <img src="/assets/person2.png" height="180px" width="180px">
                                <center>
                                    <h4>Jane Doe</h4>
                                    <p>Company Founder</p>
                                </center>
                            </div>
                            <div class="col-25">
                                <img src="/assets/person3.png" height="180px" width="180px">
                                <center>
                                    <h4>Mickle Davidson</h4>
                                    <p>Vice President</p>
                                </center>
                            </div>

                        </div>
                    
                    </div>
                </div>
            </div>
            <%= render 'footerStaticPages' %>
        </body>
</html>
